<div class="modal fade" id="add-edit-person">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= model.isNew() ? "Add" : "Edit" %> person</h4>
      </div>
      <form action="/api/person" method="post">
          <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                  <label for="birth-date">Birth Date</label>
                  <input name="birth_date" id="birth-date-value" type="hidden" />
                  <div id="birth-date-picker" class="input-group date" data-format-view-type="date" data-min-view="month" data-date-format="dd MM yyyy" data-link-field="birth-date-value">
                    <input id="birth-date" class="form-control" size="16" type="text" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->