<div class="modal fade" id="person-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= model.get('name') %> info</h4>
      </div>
      <div class="modal-body">
          <div>
              <label>Name: </label>
              <span><%= model.get('name') %></span>
          </div>
          <div>
              <label>Birth Date: </label>
              <span><%= model.getBirthDate() %></span>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  Computers
              </div>
              <% var computersCount = model.getComputersCount() %>
              <% if (computersCount) { %>
              <div class="panel-body">
                  <%= model.get('name') %> has purchased <%= model.getComputersCount() %> computers.
              </div>
              <table class="table">
                  <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Vendor
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% _.each(model.get('computers'), function (computer) { %>
                      <tr>
                          <td>
                              <%= computer.name %>
                          </td>
                          <td>
                              <%= computer.vendor %>
                          </td>
                      </tr>
                    <% }); %>
                  </tbody>
              </table>
              <% } else { %>
              <div class="panel-body"><%= model.get('name') %> has not purchased any computers yet.</div>
              <% } %>
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
