<h1>Persons list</h1>

<table class="table table-striped items-list persons-list">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Birth date
            </th>
            <th>
                Computers count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list-tbody">
    </tbody>
</table>

<div class="well no-items">No persons yet.</div>

<button type="button" class="btn btn-primary go-to" data-href="/person/add">Add person</button>