Flask==0.10.1
git+https://github.com/bildja/flask-restless.git
Flask-SQLAlchemy==1.0
Flask-Testing==0.4
FormEncode==1.2.6
Jinja2==2.7.2
MarkupSafe==0.18
SAValidation==0.2.1
SQLAlchemy==0.9.3
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
python-dateutil==2.2
requests==2.0.1
six==1.5.2
twill==0.9
wsgiref==0.1.2
