<h1>Computers list</h1>

<table class="table table-striped computers-list">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Vendor
            </th>
            <th>
                Purchase time
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list-tbody">
    </tbody>
</table>

<div class="pagination"></div>

<button type="button" class="btn btn-primary go-to" data-href="/computer/add">Add computer</button>