body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}

.tomato {
    background-color: tomato;
}

.owner-subform {
    display: none;
}

.owner-subform .form-group {
    padding-left: 20%;
}

.add-owner-wrapper label {
    font-weight: normal;
}
